language: python

sudo: false

python:
  - "3.5"
  - "3.6"
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: "3.7"
      dist: xenial

install:
  - travis_retry python setup.py install
  - pip install coveralls

script:
    coverage run --source=betfairlightweight setup.py test

after_success:
  coveralls
