build: off

environment:
  matrix:
    - PYTHON: "C:\\Python37"
      PYTHON_VERSION: "3.7.x"

#    - PYTHON: "C:\\Python38"
#      PYTHON_VERSION: "3.8.x"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python setup.py install"

test_script:
  - "python setup.py test"
